@using Pinula.Shared.DTOs

<div class="recipe-card" @onclick="OnClick">
    <img src="@Recipe.PhotoUrl" class="recipe-img" />
    <div class="recipe-overlay">
        <span class="recipe-title">@Recipe.Title</span>
        <div class="recipe-time">
            <span>@Recipe.CookingTime</span>
            <img src="images/icons/time.png" class="time-icon" />
        </div>
    </div>
</div>

@code {
    [Parameter] public RecipePreviewDto Recipe { get; set; } = null!;
    [Parameter] public EventCallback<RecipePreviewDto> OnRecipeSelected { get; set; }

    private async Task OnClick() => await OnRecipeSelected.InvokeAsync(Recipe);
}