:root {
    --pine-teal: #1D4934;
    --evergreen: #112718;
    --dark-evergreen: #011D04;

    --recipe-card-width: 300px;
}

@media (max-width: 768px) {
    :root {
        --recipe-card-width: 200px;
    }

    .recipe-title {
        font-size: 1.1rem !important;
    }

    .recipe-time {
        font-size: 0.9rem !important;
    }

    .main-wrapper {
        max-width: 80vw;
    }
}
.main-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .main-wrapper {
        width: 70vw;
        max-width: 1500px;
    }
}


body, html {
    overflow-x: hidden;
    width: 100%;
}

article.content {
    max-width: 100vw;
    overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#blazor-error-ui {
    display: none;
    background: lightyellow;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/*---------- Navbar ----------*/
.bottom-nav-container {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 900px;

    z-index: 1000;
    background: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 23px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4px;
}

.nav-item {
    width: 65px;
    height: 52px;
    border-radius: 23px;
    border: 1px solid var(--dark-evergreen);
    background-color: var(--pine-teal);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.5s ease;
    cursor: pointer;
}

    .nav-item img {
        padding: 0;
        width: 30px;
        height: 30px;
        object-fit: scale-down;
        display: block;
    }

    .nav-item.active {
        background-color: var(--evergreen) !important;
    }



/*---------- Category card ----------*/
.category-card {
    position: relative;
    width: 160px;
    height: 130px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}

    .category-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, transparent 50%);
}

.category-name {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: 'Alegreya';
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}


/*---------- Recipe card ----------*/
.recipe-card {
    position: relative;
    flex: 0 0 auto;
    width: var(--recipe-card-width);
    margin-right: 15px;
    aspect-ratio: 4 / 3;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
    .recipe-card:hover {
        transform: translateY(-5px);       
    }
    .recipe-card:hover .recipe-img {
        transform: scale(1.05);
    }
    .recipe-card:hover .recipe-overlay {
        transform: scale(1.05);
    }
.recipe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    image-rendering: optimizeQuality;
    transform: translateZ(0);
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.recipe-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(10deg, rgba(0,0,0,0.9) 0%, transparent 60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.recipe-title {
    color: white;
    font-weight: bold;
    font-family: 'Alegreya';
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 1px 1px black;
}

.recipe-time {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Nunito';
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.time-icon {
    width: 20px;
    margin-left: 5px;
}

/*---------- Recipe page ----------*/

.scroll-container {
    padding: 12px 5px;
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) #1D1F1D;
}
    .scroll-container::-webkit-scrollbar {
        height: 6px;
    }

    .scroll-container::-webkit-scrollbar-track {
        background: #1D1F1D;
        border-radius: 10px;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        transition: background 0.3s ease;
    }

        .scroll-container::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.2);
        }


